<!DOCTYPE html>
<html>
  <head>
    <title>{{documentTitle}}</title>
    <link rel='stylesheet' type='text/css' href='/stylesheets/styles.css'>
  </head>
  <body>
    <div id='app'>{{{markup}}}</div>
    <input type="hidden" value='{{{initialState}}}' id="init-data">

    <script src='{{{scriptSource}}}' defer></script>
  </body>
</html>
